.course-card {
    max-width: 270px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.course-card img {
    max-height: 150px;
    object-fit: cover;
}

.course-card .card-body {
    padding: 0;
}

.course-card .card-text {
    margin-bottom: 0.25rem;
}

@media (max-width: 768px) {
    .course-card {
        flex: 1 0 48%; /* Adjust the width for medium-sized screens */
    }
}

@media (max-width: 576px) {
    .course-card {
        flex: 1 0 100%; /* Set the width to 100% for small screens */
    }
}


